.NotificationContainer{
    width: 18pc;
    height:70vh;
    background-color:#f0ede9;
    margin-top: 20px;
    border-radius: 20px;
    overflow: hidden;
    overflow-y: scroll;
}

.ProfileLeftbar{
    flex: 1;
}
.Profilepageimage{
    width: 60px;
    border-radius: 50%;
    height: 60px;
    object-fit: cover;
    margin-left: 10px;

}
.likeimg{
    width: 30px;
    height: 30px;
    margin-left: 43px;
    border-radius: 3px;
}
.ProfilepageCover{
    width: 100%;
    height: 80px;
    object-fit: cover;
}

.exploreimage{
    width: 86px;
    height: 150px;
    margin-left: 4px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 6px;
    
}