.profile {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 60px;
  }
  
.subProfileContainer{
  width: 90%;
  max-width: 1200px;
  display: flex;
  gap: 20px;
  padding: 20px;
}