.home {
    background-color: rgb(235, 238, 242);
    min-height: 100vh;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}
.ComponentContainer {
    width: 80%;
    margin: 0 auto; /* Center horizontally */
    display: flex;
    justify-content: space-between;
    position: absolute; /* Position at the top */
    top: 0; /* Align to the top of the page */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
}
