.PostContainer{

}
.SubPostContainer{
    width: 100%;
    max-width:700px; 
    background-color: white;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 0px;

}
.PostImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}
.PostImages{
    width: 100%;
    height:auto;
    border-radius: 10px;

}
.iconforPost{
    width: 20px;
 
}
.moreicon{
    width: 30px;
    margin-left: 410px;
}
